In [1]:
import pandas as pd

In [3]:
gangseo_series=pd.read_csv(r'C:\Users\user\Desktop\cj\gangseo_series.csv')

gangseo_series

           date  ITEM_QTY          cd
0    2021-03-01         4  4802177320
1    2021-03-02        10  4802177320
2    2021-03-03        16  4802177320
3    2021-03-04        16  4802177320
4    2021-03-05         3  4802177320
..          ...       ...         ...
304  2021-06-26         1  4658408144
305  2021-06-27         7  4658408144
306  2021-06-28         1  4658408144
307  2021-06-29         3  4658408144
308  2021-06-30         1  4658408144

[309 rows x 3 columns]

In [4]:
g1 = gangseo_series.query('cd==4658408144')
g1=g1.set_index('date')
g1=g1.iloc[:,[0]]
g1

            ITEM_QTY
date
2021-03-01         5
2021-03-02         4
2021-03-03         5
2021-03-04         4
2021-03-05         1
...              ...
2021-06-26         1
2021-06-27         7
2021-06-28         1
2021-06-29         3
2021-06-30         1

[108 rows x 1 columns]

In [5]:
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt

In [6]:
result=seasonal_decompose(g1,model='additive',freq=7)
result.plot()
plt.show()

TypeError: seasonal_decompose() got an unexpected keyword argument 'freq'